.cache
.DS_Store
.idea
*.log
*.tgz
.temp
coverage
dist
lib-cov
logs
node_modules
temp
tmp
packages/colorized-brackets/src/themes.ts
packages/codelex/src/langs
packages/codelex/src/themes
packages/codelex/src/*.json
packages/codelex/src/langs
packages/codelex/src/themes
cache
.eslintcache
report-engine-js-compat.json
scripts/compares
tm-grammars-themes

# Local Netlify folder
.netlify
